<header class="bg-[#fafafa] w-full">
  <div class="mx-auto max-w-7xl px-6 py-3 flex">

    <div class="flex items-center gap-2">
      <img class="w-5" src="images/icon-logo.svg" alt="Go Task Logo">
      <h1 class="font-bold text-2xl">GoTask</h1>
    </div>

    <nav class="flex items-center gap-6 ml-auto">
      <button class="bg-white p-2 rounded-xl">
        <img class="w-6" src="images/icon-notification.svg" alt="Notification Button">
      </button>
      <div class="flex items-center gap-3">
        <img class="w-7" src="images/icon-user-avatar.svg" alt="User Info">
        <span class="font-bold">Jennie K.</span>
        <button>
          <img class="w-6" src="images/icon-sign-out.svg" alt="Logout Button">
        </button>
      </div>
    </nav>

  </div>
</header>