<div class="rounded-xl bg-white max-h-[500px] overflow-y-auto scrollbar-hidden">
  <div class="flex gap-1 p-4">
    <img src="images/icon-task-star.svg" alt="">
    <h1 class="text-lg font-semibold">Comentar tarefa</h1>
    <img (click)="onCloseModal()" class="ml-auto cursor-pointer" src="images/icon-close.svg" alt="Fechar">
  </div>

  <div class="border-t border-[#d1d5db] p-4">
    <h1 class="mb-4 text-lg font-semibold">Tarefa</h1>
    <p class="mb-2 text-sm font-semibold">Descrição</p>
    <p class="text-base font-normal text-[#374151]">Descrição da tarefa</p>
  </div>

  <div class="p-4">
    <div class="flex flex-col gap-5 rounded-xl bg-[#f3f5f6] p-5">
      <div>
        <p class="text-sm font-bold">Comentários</p>
      </div>

      <div class="flex items-start gap-2">
        <div class="flex w-full flex-col">
          <input #commentInput placeholder="Adicione um comentário" type="text" class="flex-1 rounded-lg border border-[#d1d6db] bg-white p-3 text-sm font-light" [formControl]="commentControl">
          @if(commentControl.invalid && commentControl.touched){
          <p class="text-sm font-semibold text-red-500">
            O campo é obrigatório
          </p>
          }
        </div>

        <button (click)="onAddComment()" [disabled]="commentControl.invalid" class="{{`rounded-xl px-4 py-3 text-sm font-semibold text-white cursor-pointer ${commentControl.invalid ? 'bg-[#d7d8d8]':'bg-[#2a89ef] shadow-md shadow-blue-500/50 active:translate-y-1 transition-transform duration-75' }`}}">
          Adicionar
        </button>
      </div>
      <ul class="flex max-h-44 flex-col gap-5 overflow-y-auto scrollbar-hidden">
        @for(comment of _task.comments; track comment.id;){
        <li class="flex flex-col gap-3 border-b border-[#d1d5db] pb-3">
          <div>
            <p class="text-sm font-light text-[#374151]">{{comment.description}}</p>
          </div>
          <div class="flex gap-4 mb-3">
            <p class="font-normal text-xs text-[#9ca3af]">Comentado há 10 min atrás</p>
            <p class="font-semibold text-xs underline underline-offset-2">Apagar</p>
          </div>
        </li>
        }

      </ul>
    </div>
  </div>
</div>