<div class="p-3 bg-[#fafafa] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold">Tarefa</p>
    <button class="self-start ml-auto cursor-pointer">
      <img class="w-6" src="images/icon-delete.svg" alt="Icon-Delete">
    </button>
  </div>
  <p class="font-light text-sm">
    Descrição da tarefa
  </p>
  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" alt="Comentários-icon">
    <p class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer"> 2 Comentários</p>
    <p class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer ml-auto"> Editar</p>
  </div>
</div>